<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="/js/d3.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/app/app.js"></script>
    <script src="/js/app/controller/controller.js"></script>
    <script src="/js/app/directives/d3.js"></script>
    <script src="/js/app/directives/tree.js"></script>
    <link href="/css/main.css" media="screen, projection" rel="stylesheet" type="text/css"/>
    <link href="/css/foundation-icons/foundation-icons.css" media="screen, projection" rel="stylesheet" type="text/css"/>
</head>
<body ng-controller="mainCtrl">
    <div class="row">
        <div class="small-12 columns">

            <h1>Gibson Grub</h1>

            <ul class="tabs" data-tab role="tablist">
                <li class="tab-title" role="presentational" ng:class="{true:'active', false:''}[tab==0]">
                    <a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" controls="panel2-1" ng-click="setTab(0)"><i class="fi-home size-14"></i> Dashboard</a>
                </li>
                <li class="tab-title" role="presentational" ng:class="{true:'active', false:''}[tab==1]">
                    <a href="#panel2-2" role="tab" tabindex="0" aria-selected="false" controls="panel2-2" ng-click="setTab(1)"><i class="fi-list-thumbnails"></i> Folders</a>
                </li>
                <li class="tab-title" role="presentational" ng:class="{true:'active', false:''}[tab==2]">
                    <a href="#panel2-3" role="tab" tabindex="0" aria-selected="false" controls="panel2-3" ng-click="setTab(2)"><i class="fi-widget"></i> Settings</a>
                </li>
            </ul>
            <div class="tabs-content">
                <section role="tabpanel" aria-hidden="false" class="content text-center" id="panel2-1" ng:class="{true:'active', false:''}[tab==0]">
                    <div id="progress" data-value="{{progress}}" d3></div>

                    <button class="button expand">Start</button>
                </section>
                <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2" ng:class="{true:'active', false:''}[tab==1]">
                    <ul class="tree">
                        <li ng-repeat="node in status track by $index">
                            <i class="fi-folder"></i> {{node.source}}
                            <ul>
                                <li><i class="fi-folder"></i> Docs
                                    <ul>
                                        <li ng-repeat="job in node.docs">
                                            <i class="fi-page-filled"></i> {{job.filename}}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li><i class="fi-folder"></i> Video
                                    <ul>
                                        <li ng-repeat="job in node.video">
                                            <i class="fi-page-filled"></i> {{job.filename}}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!--<i class="fi-folder-add"></i> {{node.name}}
                            <i class="fi-page-add"></i> {{node.name}}-->

                    <button class="button expand" ng-click="send()">Download</button>
                </section>
                <section role="tabpanel" aria-hidden="true" class="content" id="panel2-3" ng:class="{true:'active', false:''}[tab==2]">
                    <h2>Third panel content goes here...</h2>
                </section>
            </div>
        </div>
    </div>
</body>
</html>